<section class="home-about-me">
  <h1>Hello dear guest!</h1>
  <p>
  My name is Andrey, but you can call me Andrew if it will be comfortable for you.<br/>
  Below you can find information about my experience.<br/>
  Little bit more about me you can find on <a href="<%= show_page_path 'about-me' %>">&quot;About Me&quot; page.</a>
  </p>
  <p>
  Also you can get some information about projects, which I had worked on <a href="<%= portfolio_index_path %>">&quot;Portfolio&quot; page.</a><br/>
  If you not got enough information about me or my experience or you have some questions<br/> 
  please use contact form on <a href="<%= show_page_path 'contact-me' %>">&quot;Contact me&quot; page</a> for send me message.
  </p>
</section>
<div class="row">
  <div class="col-md-6 col-sm-12">
  <h3>Experience in hours</h3>
    <ul class="technology-container">
      <% @technologies.each do | technology | %>
      <li class="technology-item">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="full-relative">
              <img src="<%= technology.icon_url %>">
              <span class="title"><%= technology.title %></span>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <span class="hours" style="width:<%= progress_bar_width base: @max_hours, current: technology.hours.to_f %>%">
              <%= number_with_delimiter technology.hours %> (h)
            </span>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-6 col-md-6">
    <img src="<%= image_url('portrait.jpg') %>" alt="Andrey Sergeev remote software engineer" width="100%">
  </div>
</div>