<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" id="dev-vue-app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="<%= asset_url 'logo.svg', type: :image %>" width="96" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <% @menu.items do |menu_item| %>
            <li class="nav-item <%= 'active' if current_page?(menu_item.url) %>">
              <a class="nav-link" href="<%= menu_item.url %>"><%= menu_item.label %></a>
            </li>
            <% end %>
          </ul>
          <div class="col-sm-3 socials-btn">
              <ul class="navbar-nav">
                <% socials.each do | social | %>
                <li class="nav-item">
                  <a href="<%= social.url %>" target="_blank" rel="nofollow" class="nav-link">
                    <%= image_tag social.icon, alt: social.title %>
                  </a>
                </li>
                <% end %>
              </ul>
          </div>
        </div>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
